@import "tailwindcss";

#root {
    @apply w-full h-full;
}

.interface {
    pointer-events: none;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 40px 1fr 100px;
    gap: 8px;
    grid-template-areas:
        'name_slogan top user'
        'left center right'
        'info bot minimap';
    
    @apply w-full h-full fixed top-0 left-0;
}

.interface > * {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    pointer-events: auto;
}

.name_slogan {
    grid-area: name_slogan;
    display: flex;
}

.panel {
    @apply shadow-md;
}

.top {
    grid-area: top;
}

.user {
    grid-area: user;
}

.left {
    grid-area: left;
    padding: 5px 10px;
}

.menu_title {
    @apply text-lg font-bold text-center;
}

.main_menu {
    @apply flex flex-col gap-2;
}

.main_menu > a {
    @apply border-1 border-gray-300 rounded-md p-2;
}

.main_menu > a:hover {
    @apply bg-gray-200;
}

.center {
    grid-area: center;
    pointer-events: none;
    display: none;
}

.right {
    grid-area: right;
    padding: 5px 10px;
}

.info {
    grid-area: info;
}

.bot {
    grid-area: bot;
}

.minimap {
    grid-area: minimap;
    @apply flex justify-center items-center;
}


