@import "tailwindcss";

.main_menu {
    position: relative;
    font-family: 'PT Sans Narrow';
    font-size: 30px;
    line-height: 24px;
    width: 300px;
    height: 100%;
    border-right: 1px #CCC solid;
    cursor: pointer;
    user-select: none;
    @apply flex flex-col justify-center items-center;
}

.main_menu > h1 {
    font-weight: bold;
}

.main_menu:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.slogan {
    font-size: 14px;
    /* @apply text-xs; */
}

.arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    font-size: 14px;
    color: #999;
    transition: transform 0.2s;
}

.arrow_open {
    transform: translateY(-50%) rotate(90deg);
}

.dropdown {
    display: flex;
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    background: white;
    border: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    z-index: 100;
    @apply flex-col;
}

.link {
    padding: 8px 14px;
    font-size: 20px;
    font-family: 'PT Sans';
    color: inherit;
    text-decoration: none;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.06);
}